services:
  # Sapphive Vault-over-Tor (Single pullable image)
  vault-over-tor:
    build: .
    image: sapphive/vault-over-tor:latest
    container_name: vault-service
    ports:
      # Map host port to Vault (Internal: 8200)
      # Defaults to port 80 to align with the Onion Service port
      - "${VAULT_PORT:-80}:8200"
    volumes:
      - ./data:/vault/file
      - ./keys:/var/lib/tor/hidden_service
    cap_add:
      - IPC_LOCK
    restart: always
