name: Build and Publish Vault-over-Tor

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract Metadata
        id: meta
        run: |
          # Build a test image and extract Vault version
          # We use --entrypoint to bypass our custom script for version check
          docker build -t test-vault .
          VAULT_VER=$(docker run --rm --entrypoint vault test-vault --version | awk '{print $2}' | sed 's/v//')
          echo "vault_version=$VAULT_VER" >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          provenance: false
          tags: |
            sapphive/vault-over-tor:latest
            sapphive/vault-over-tor:${{ steps.meta.outputs.vault_version }}
            sapphive/vault-over-tor:v1
          cache-from: type=gha
          cache-to: type=gha,mode=max
